.email-app {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 250px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding-right: 0px !important;
}

.right-pane {
    width: calc(100vw - 250px);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mailboxes {
    list-style: none;
    padding: 0;
}

.mailboxes li {
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mailboxes li:hover {
    background-color: #f0f0f0;
}

.email-list {
    width: 100%;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.email-table {
    table-layout: auto;
    border-collapse: collapse;
}

.email-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.email-item i.bi {
    margin-right: 10px;
}

.email-item td.preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1%;
}

.email-item td.sender {
    white-space: nowrap;
}

.email-item td.date {
    white-space: nowrap;
}

.search-box,
.pagination-nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-view {
    display: none;
    padding: 20px;
}

.email-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.email-attachments {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.email-body-versions {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.email-content {
    padding-top: 20px;
}

.list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.input-group-text {
    border: none; /* Removes border */
    background: transparent; /* Makes background transparent */
}

.popup-container {
    z-index: 5000; /* Ensure it appears above other elements */
}

.popup-message {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    min-width: 250px;
}

.popup-message .btn-close {
    color: white;
}

.popup-message.info {
    background-color: #17a2b8;
}

.popup-message.success {
    background-color: #28a745;
}

.popup-message.warning {
    background-color: #ffc107;
    color: black;
}

.popup-message.error {
    background-color: #dc3545;
}
